body{
    font-family: sans-serif;
    font-size: 13px;
}
.wrap2 {
    width: 480px;
    padding: 0 33.3%;
}
.head {
    background-color:rgb(85, 128, 163);
    color: #fff;
    padding: 0 28px 26px;
}
.profile{
    padding-top: 40px;
}
.profile_description{
    text-color:#fffff;
    font-size: 14px;
    padding: 15px 0 9px;
}
.telegram_logo{
    display: block;
    float: left;
    padding: 30px;
}
.title{
    text-color: #fffff;
    font-weight: 700;
    padding: 18px 0 5px;
}
.link1, .title1{
    float:left;
}
.link2, .title2  {
    float: right;
    padding-left: 20px;
}
.profile_wrap{
    margin: 19px 0 0 100px;
    padding-right: 28px;
}
.profile_name{
    font-size: 16px;
    font-weight: bold;
}
.container{
    overflow:hidden;
    width:100%;
}
.box{
    white-space:nowrap;
}
.box div {
    margin-left: 100px;
    width:33%;
    display:inline-block;
}
.options li{
    list-style: none;
    line-height: 2;
    color: black;
}
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 20px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}