
.message-context {
 
  overflow: auto;
}

.message-context:hover{
    overflow-y: scroll;
}
.message-context::-webkit-scrollbar {
  width: 15px;
}

.message-context::-webkit-scrollbar-track {
  background: #e2e2e2;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 2px;
}
