.dialogs-list {
  background-color: white;
  overflow: auto;
  margin: 0;
  padding: 0;
}
.dialogs-list::-webkit-scrollbar {
  width: 2px;
}

.dialogs-list::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}
