.input-search {
  margin: 10px 20px;
  height: 25px;
  background: #f2f2f2;
  font-size: 18px;
  padding: 6px 26px 6px 30px;
  border: 0;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  background-image: url(../../../../img/icons/IconsetW.png);
  background-repeat: no-repeat;
  background-position: -6px -205px;
}

.input-search:focus {
  outline: none;
  border: 1px solid #b8b8b8;
  background: #fff;
  background-image: url(../../../../img/icons/IconsetW.png);
  background-repeat: no-repeat;
  background-position: -6px -205px;
}
