<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta content="text/html; charset=utf-8">
  <title>About</title>
  <link href="style.css" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <div class="head">
    <div class="title">
    <div class="title1">About</div>
    <div class="title2">Close</div>
  </div>
    <div class="photo_wrap">
      <div class="telegram_logo">
        <img src="https://web.telegram.org/img/Telegram72.png" alt="logo">
      </div>
      <div class="profile">
          <div class="profile_name">Epam Telegram</div>
          <div class="profile_description">Version 0.1</div>
      </div>
    </div>
  </div>
  <div class="profile_wrap">
    <div class="section">
      <p>Just another free messaging app based on Telegram API made by three future JS geniuses.</p>
    </div>
  </div>
    <div class="footer_wrap">
      <div class="footer">
        <a class="link1" href="#" target="_blank">Link 1</a>
        <a class="link2" href="#" target="_blank">Link 2</a>
      </div>
    </div>
</div>
</body>
</html>