<div class="wrap">
  <div class="head">
    <div class="title_wrap">
      <div class="close">
        <a class="action_close">Close</a>
      </div>
      <div class="title">About</div>
    </div>

    <div class="profile_wrap">
      <div class="photo_wrap pull-left">
        <div class="telegram_logo" >
		<img src="https://web.telegram.org/img/Telegram72.png">
		</div>
      </div>
	<div class="profile">
        <div class="profile_name">Epam Telegram</div>
        <div class="profile_description">Version 0.1</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="section">
        <p>Just another free messaging app based on Telegram API made by three future JS geniuses.</p>
    </div>
    <div class="footer_wrap">
      <a class="link1" href="#" target="_blank">Link 1</a>
      <a class="link2" href="#" target="_blank">Link 2</a>
    </div>
  </div>
</div>