body{
    font-family: sans-serif;
    font-size: 13px;
}
.wrap {
    display: block;
    width: 480px;
    padding: 0 33.3%;
}
.head {
    background-color:rgb(85, 128, 163);
    color: #fff;
    padding: 0 28px 26px;
}
.profile{
    padding-top: 40px;
}
.profile_description{
    text-color: #fff;
    font-size: 14px;
    padding: 15px 0 9px;
}
.telegram_logo{
    display: block;
    float: left;
    padding: 30px;
}
.title{
    text-color: #fff;
    font-weight: 700;
    padding: 18px 0 5px;
}
.close{
    float:right;
    text-color: #fff;
    font-weight: 700;
    padding: 18px 5px;
    font-size: 14px;
    padding-right: 22px;
}
.title1, .link1 {
    float:left;
}
.title2, .link2 {
    float:right;
}
.section {
    padding-left: 100px;
    padding-right: 20px;
}