.wrapPage {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  min-width: 600px;
  max-height: 95vh;
  min-height: 95vh;
}

.wrapPageContext {
  display: flex;
  height: 90vh;
  background: #fff;
}
