.wrapPage {
  display: block;
  margin: 0 auto;
  background-color: aqua;

  max-width: 1000px;
  min-width: 600px;
  max-height: 95vh;
  min-height: 95vh;
}

.wrapPageContext {
  background-color: white;
  display: flex;
  height: 90vh;
}
.leftBlockDialogs {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #e9ebed;
  flex: 1 2 31%;
  width: 31%;
}
.history {
  background-color: white;
  flex: 2 1 69%;
  display: flex;
  flex-direction: column-reverse;
  width: 69%;
}
.searchWrap {
  padding: 10px;
  text-align: center;
}

.inputSearch {
  width: 200px;
  height: 25px;
  background: #f2f2f2 0 0;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  font-size: 18px;
  padding: 6px 26px 6px 30px;
}
.dialogs {
  background-color: white;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

dialogs::-webkit-scrollbar {
  width: 0px;
}

.dialog:hover {
  background-color: lightblue;
}
.imgDialogPhoto {
  height: 48px;
  width: 48px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 14px;
  text-align: center;
  flex: 0 0 auto;
}

.dialog {
  padding: 7px 14px;
  display: flex;
  justify-content: space-between;
}

.textPlaceholder {
  line-height: 48px;
  font-size: 18px;
  color: white;
}

.dialogInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialogName {
  font-weight: bold;
  line-height: 18px;
  font-size: 18px;
}

.infoLastMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
}

.chip {
  height: 18px;
  width: 18px;
  background-color: royalblue;
  border-radius: 50%;
  text-align: center;
}

.chipText {
  line-height: 18px;

  color: white;
}

li {
  list-style-type: none;
}

.messageContext {
  background-color: white;
  overflow: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;
  overflow-y: scroll;
}
.inputMesageArea {
  display: flex;
  padding: 10px;
  flex: 0 0 auto;
  justify-content: space-around;
}
.inputLogoImage{
  line-height: 56px;
  color: white;
 font-size: 20px;
  height: 56px;
  width: 56px;
  text-align: center;
  margin: 0;
  flex: 0 0 auto;

}
.inputMessage {
  background: #f7f5f5 0 0;
  border:0;
  border-bottom: 2px solid #64b7f7;
  font-size: 14px;
  flex: 0 1 500px;
}

.message {
  display: flex;
  padding: 10px;
}

.imageUserMessage {
  color: white;
  background-color: gray;
  line-height: 42px;
  font-size: 16px;
  height: 42px;
  width: 42px;
  flex: 0 0 auto;
}

.timeLastMessage {
  margin-left: auto;
  flex: 0 0 auto;
}
