.wrapPage {
  display: block;
  margin: 0 auto;
  background-color: aqua;
  max-width: 1010px;
  min-width: 300px;
  max-height: 100vh;
  min-height: 100vh;
}
.wrapHeader {
  min-height: 60px;
  display: flex;
  background-color: #5682a3;
}
.wrapPageContext {
  background-color: white;
  display: flex;
  height: 700px;
}
.leftBlockDialogs {
  background-color: white;
  border-right: 2px solid #e9ebed;
  flex: 1 2 31%;
}
.history {
  background-color: slategrey;
  flex: 2 1 69%;
}
.searchWrap {
  padding: 10px;
  text-align: center;
}

.inputSearch {
    width: 250px;
    height: 25px;
    background: #F2F2F2 0 0;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    font-size: 18px;
    padding: 6px 26px 6px 30px;

}
.dialogs {
  background-color: white;
  overflow: auto;
  height: 641px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
      overflow-x: hidden;
    overflow-y: scroll;
}


dialogs::-webkit-scrollbar {width:0px;}

.dialog:hover {
    background-color: lightblue
}
.imgDialogPhoto {
  height: 48px;
  width: 48px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 14px;
  text-align: center;
}

.dialog {
    padding: 7px 14px;
  display: flex;    
  justify-content: space-between;
}

.textPlaceholder {
  line-height: 48px;
  font-size: 18px;
  color: white;
}

.dialogInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialogName {
  font-weight: bold;
  line-height: 18px;
  font-size: 18px;
}

.infoLastMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
}

.chip {
  height: 18px;
  width: 18px;
  background-color: royalblue;
  border-radius: 50%;
  text-align: center;
  
}

.chipText {
  line-height: 18px;
  
  color: white;
}

li {
  list-style-type: none;
}
