<div class="wrap" style="display: block;  max-width: 480px; background-color: #fff; margin-left: auto; margin-right: auto;">
  <div class="head" style="background-color:rgb(85, 128, 163);color: #fff; background: #5580a3; padding: 0 0 28px 26px;">
    <div class="title_wrap">
      <div style="float:right; color: #fffff; font-weight: 700; padding: 18px 5px; font-size: 14px; padding-right: 22px;">
        <a class="action_close">Close</a>
      </div>
      <div class="title" style="color: #fffff; font-weight: 700; padding: 18px 0 5px; font-size: 14px;">About</div>
    </div>

    <div class="profile_wrap" style="padding: 35px 2px 0;">
      <div class="photo_wrap pull-left" style="float:left; display: block; margin-right: 19px;">
        <div class="telegram_logo" >
		<img src="https://web.telegram.org/img/Telegram72.png">
		</div>
      </div>
	<div class="profile">
        <div class="profile_name">Epam Telegram</div>
        <div class="profile_description" style="color:#fffff; font:14px; padding: 15px 0px 9px;">Version 0.1</div>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="section" style="margin: 19px 0 0 120px;  padding-right: 28px;">
        <p>Just another free messaging app based on Telegram API made by three future JS geniuses.</p>
    </div>
    <div class="footer_wrap">
      <a class="link1" href="#" target="_blank" style="float:right;">Link 1</a>
      <a class="link2" href="#" target="_blank">Link 2</a>
    </div>
  </div>
</div>