<!DOCTYPE HTML>
<html lang="ru">

<head>
    <meta content="text/html; charset=utf-8">
    <title>About</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>

    <div class="head">
        <div class="wrap">
            <div class="title_wrap">
                <div class="img_wrap"><img src="https://web.telegram.org/img/Telegram72.png"></div>
                <div class="name_title">Telegram</div>
                <div class="next_wrap">
                    <a class="next" href="login.html">Next ></a>
                </div>
            </div>
            <div class="login_wrap">
                <div class="login_container">
                    <h1>Sign in</h1>
                    <p>Please choose your country and enter your full phone number.</p>
                    <select class="country_input">
                        <option>Belarus</option>
                    </select><br>
                    <input class="code_input" value="+375">
                    <input type="number" class="telephone_input"><br>
                </div>
            </div>
            <div class="footer_wrap">
                <p class="welcome-footer">Welcome to the EPAM telegram web-client.</p>
                <a class="learn-more" href="">Learn more</a>
            </div>
        </div>
    </div>
</body>

</html>