.head_login {
    display: flex;
    justify-content: center;
    background-color: #5580a3;
    padding: 0 0 190px 0;
    position: relative;
}

.wrap_login {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    background-size: contain;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E7EBF0;
}

p {
    color: gray;
    font-size: 15px;
}

.next_login {
    text-align: right;
    font-weight: bold;
    color: #5580a3;
}

.welcome-footer {
    color: #5580a3;
    text-align: center;
}

.learn-more {
    color: #5580a3;
    font-weight: bold;
    text-align: center;
}

A:link, A:visited, A:active {
    text-decoration: none;
}

.name_title {
    color: white;
    text-align: left;
    font-size: 18px;
}

.next_login {
    color: white;
    font-size: 17px;
    margin-left: auto;
}

.title_login {
    display: flex;
    justify-content: space-between;
    padding: 4%;
    color: #5580a3;
    height: 30px;
}

.title_login img {
    width: 30px;
    height: auto;
    padding-right: 20px;
}

input {
    border: none;
    border-bottom: 2px solid lightgray;
}

.country_input {
    font-size: 15px;
    border: none;
}

.input_number_login {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.code_input {
    padding: 10px;
    width: 50px;
}

.telephone_input {
    padding: 10px;
}

.login_wrap h1 {
    font-size: 18px;
    font-weight: bold;
}

.login_wrap {
    background-color: white;
}

.login_container {
    display: flex;
    flex-direction: column;
}

.footer_wrap_login {
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    background-color: #f2f6fb;
}
