.dialogInfo {  
  padding: 7px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.strechArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}


.infoLastMessage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;

}
