.head {
    width: 430px;
    padding: 0 33.3%;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
}

.new-group {
    float: left;
    padding: 19px;
    display: inline-block;
    padding: 19px;
}

.close {
    display: inline-block;
    float: right;
    color: #dde8f1;
    padding: 19px;
}

.title_wrap {
    font-weight: bold;
    height: 55px;
    background-color:#5580a3;
    color: #fff;
    text-transform: uppercase;
}

.foot_wrap {
    font-weight: bold;
    text-transform: uppercase;
}

.img_search {
    float: left;
    display: inline-block;
}

.input_search input {
    border: none;
    outline: none;
    width: 400px;
    padding: 4px;
    height: 50px;
}

.search_wrap {
    float: left;
    border-bottom: lightgray solid 1.5px;
}

.img_search img {
width: 25px;
height: auto;
}

.input_search {
    display: inline-block;
}

.cancel {
    display: inline-block;
    float: right;
    color: #72a0c7;
    padding: 19px;
}

.next {
    padding: 19px;
    display: inline-block;
    float: left;
    color: #72a0c7;
}

@media all and (max-width: 900px) {
    .head {
        padding: 0 20%;
    }
}