.wrap_group {
    height: 65px;
    width: 425px;
    display: flex;
    flex-direction: column;
    background-color:#5580a3;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
}

.head_group {
    display: flex;
    justify-content: center;    
}

.new-group {
    color: #dde8f1;
    padding: 19px;
}

.close {
    color: #dde8f1;
    padding: 19px;
}

.dialogs_group {
    padding: 5px;
    background-color: #fff;
    margin: 0px;
}

.dialog{
    margin: 0 20px 15px 5px;
    display: flex;
    flex-direction: row;
}

.title_wrap_group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    font-weight: bold;
    color: #fff;
}

.foot_wrap_group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    font-weight: bold;
    text-transform: uppercase;
}

.input_search input {
    border: none;
    outline: none;
    padding: 7px;
}

li {
    list-style-type: none;
}

.search_wrap {
    align-items: center;
    display: flex;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    background-color: #fff;
    border-bottom: lightgray solid 1.5px;
}

.dialogName_group {
    font-size: 14px;
}

.infoLastMessage {
    color:gray;
}

.img_search img {
width: 25px;
height: auto;
}

.input_search {
    padding: 15px;
}

.cancel_group {
    padding: 15px;
    color: #72a0c7;
}

.next_group {
    color: #72a0c7;
    text-align: right;
    padding: 15px;
}

/* flex for avatar contacts */






