.head_group {
    margin: 0 33.3%;
    height: 65px;
    width: 425px;
    background-color:#5580a3;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
}

.new-group {
    color: #dde8f1;
    float: left;
    display: inline-block;
    padding: 19px;
}

.close {
    display: inline-block;
    float: right;
    color: #dde8f1;
    padding: 19px;
}

.contact_wrap {
    display: block;
}

.dialogs_group {
    width: 425px;
}

.title_wrap_group {
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    font-weight: bold;
    color: #fff;
}

.foot_wrap_group {
    background-color: #fff;
    height: 56px;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    font-weight: bold;
    text-transform: uppercase;
}

.img_search {
    float: left;
    display: inline-block;
}

.input_search input {
    border: none;
    outline: none;
    width: 400px;
    padding: 4px;
    height: 50px;
}

.search_wrap {
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    background-color: #fff;
    float: left;
    border-bottom: lightgray solid 1.5px;
}

.dialogName_group {
    font-size: 15px;
}

.img_search img {
width: 25px;
height: auto;
}

.input_search {
    display: inline-block;
}

.cancel {
    background-color: #fff;
    display: inline-block;
    float: right;
    color: #72a0c7;
    padding: 19px;
}

.next {
    background-color: #fff;
    padding: 19px;
    display: inline-block;
    float: left;
    color: #72a0c7;
}

